      html {
        background-color: {color:black};
            -webkit-font-smoothing: antialiased;
      }
      body {
        color: white;
        font-family: 'Fang Song', sans-serif;
        font-size: 12px;
        line-height:1.8em;
		background-color: black;
		text-align: center;
      }
      h1, h2, h3, h4, h5 {
        font-family: 'Fang Song',;
        font-weight: 400;
      }
      h1 {
        font-size: 80px;
	line-height: 80px;
		margin-top: 50px;
		margin-left: 10%;
		margin-right: 10%;
		width: 80%;
      }
      h2 {
        font-size: 32px;
        line-height: 38px;
      }

.topnav {
    background-color: black;
	max-width: 100%;
	margin-left: 20%;
	margin-right: 20%;
	width: 60%;
}

.topnav a {
    float: center;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
	display: inline-block;
}

.topnav a:hover {
    background-color: #black;
    color: lightgrey;
	text-decoration: underline;
}

	hr { 
		width: 60%;
		height: 4px; 
		color: white;
		background: white;
	}
	
div.gallery {
	margin-left: 20%;
	margin-right: 20%;
    float: center;
    width: 60%;
	text-align: center;
	margin-bottom: 50px;
	margin-top: 50px;
}

div.gallery img {
    width: 100%;
    height: auto;
	text-align: center;
}

div.galleryda {
	margin-left: 30%;
	margin-right: 30%;
    float: center;
    width: 40%;
	text-align: center;
	margin-bottom: 50px;
	margin-top: 50px;
}

div.galleryda img {
    width: 100%;
    height: auto;
	text-align: center;
}

div.desc {
    padding: 15px;
    text-align: left;
	font-size: 20px;
}

div.textpost {
	margin-top: 50px;
	margin-left: 20%;
	margin-right: 20%;
    float: center;
    width: 60%;
	text-align: justify;
	font-size: 25px;
	margin-bottom: 50px;
	line-height: 25px;
}

a {
    color: white;
    text-decoration: underline;
    font-size: 15px;
}

a:hover {
    background-color: #black;
    color: lightgrey;
	text-decoration: none;
}

        #playlist{
            list-style: none;
        }
        #playlist li a{
            color:white;
            text-decoration: none;
			font-size: 30px;
			line-height: 30px;
        }
		#playlist .current-song a{
            color:lightgrey;
        }
		


